
*,*::after,*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App{
  background-color: #EEEEEE;
  padding: 2rem 2rem 1rem 2rem;
  max-width: 100%;
  min-height: 100vh;
}
button{
  background-color: #FF9900;
  color: black;
  padding: .5em 1em;
  font-weight: bold;
  border-radius: 5px;
  border: transparent;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.414);
 
}